* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: gray;
}

.header-image {
    width: 100%;
    height: 100px;
    background: url('https://wallpaperaccess.com/full/50921.jpg');
    background: cover;
    background-repeat: no-repeat;
    background-size: 100%;
}

.header-text {
    text-align: center;
    color: white;
    font-family: 'Audiowide';
}

.logo {
    float: left;
}

.navbar {
    overflow: hidden;
    background-color: black;
    border-top: 3px solid white;
}

.navbar a {
    float: left;
    color: #fcfbfe;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Audiowide';
    border-style: outset;
}

.navbar a.active {
    background-color: #1d1135;
}

.navbar a:hover {
    border-style: inset;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 17px;
    color: #fcfbfe;
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;
    font-family: 'Audiowide';
    border-style: outset;
    background-color: inherit;
    cursor: pointer;
    border-color: white;
}

.dropdown .dropbtn:hover {
    border-style: inset;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: inherit;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    background-color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.navbar .Contact {
    float: right;
    font-size: 15px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    padding-right: 42px;
}

.header {
    text-align: center; 
    padding: 10px;
    font-size: 30px;
    font-family: 'Audiowide';
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px;
    text-align: center;
    font-family: 'Audiowide';
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

::-webkit-scrollbar {
    display: none;
}